//See Gulpfile for include path

@import 'variables';
@import 'bootstrap';

@import 'components/card';
@import 'pages/place';

body { padding-top: 70px; }
.logo {
    font-family: 'Patua One', cursive;
    font-size: 2em;
}
.btn:hover {
    background-color: #bc0700;
}