//See Gulpfile for include path

@import 'variables';
@import 'bootstrap';

@import 'components/card';
@import 'pages/place';

.logo {
    font-family: 'Patua One', cursive;
    font-size: 2em;
    color: #f9423a;

    &.logo-centered {
        width: 100%;
        text-align: center;
        margin-left: 0 !important;
    }
}

.navbar {
  .menu-icon {
    position: absolute;
    left: 10px;
    top: 0;

    * {
      color: white;
    }

    i {
      line-height: 50px;
    }
  }
}

.munchable-left-menu {
  background-color: #f9423a;
  h3 {
    color: white;
    font-family: 'Patua One', cursive;
    background: darken(#f9423a, 10%);
  }
  a {
    border-color: $gray-lighter;

    &:hover {
      background: darken(#f9423a, 5%);
    }

    &:active, &:visited {
      color: white;
    }
  }
}
